-i https://pypi.python.org/simple/
click==7.1.2
dateparser==0.7.0
flask==1.0.2
itsdangerous==1.1.0
jinja2==2.10.1
markupsafe==1.1.1
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
six==1.15.0
tzlocal==2.1
werkzeug==1.0.1
